// // colors
$mainColor: #c0dbd9;
$headerColor: #7faff6;
$greenColor: #8ad191;
$lightGreenColor: #b3f95a;
$whiteColor: #ffffff;
$grayColor: #88b5bf;
$blueColor: #0d89b0;
$btnBG: #a5c7f9;

// // sizes

// $mobile: 320px;
// $tablet: 767px;
// $tabletLarge: 1023px;
// $laptop: 1279px;
// $desktopSmall: 1439px;
// $desktopLarge: 1919px;

// // font-sizes

// $base: 16px;
// $generalMedium: 18px;
// $general: 24px;
// $text: 48px;
// $title: 128px;
